# Maven output
/target/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# Mac OS
.DS_Store
__MACOSX

# Windows
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# Other temp
*.tmp

# Allure test results
allure-results/
/.allure/
